.card {
    background-color: #000;
    color: #303030;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 2px #aaa;
    font-weight: 400;
}

.weather-icon {
    font-size: 80px;
}

.weather-icon i {
    vertical-align: middle;
}

.weather-icon .wi-night-clear {
    color: #ffffff;
}

.weather-icon .wi-day-sunny {
    color: #f9d71c;
}

.weather-icon .wi-cloudy-windy {
    color: sandybrown;
}

.weather-icon .wi-day-cloudy {
    color: #3498db;
}

.weather-icon .wi-day-sunny-overcast {
    color: orange;
}

.temperature {
    font-size: 70px;
    font-weight: 600;
    vertical-align: middle;
}

img {
    width: 100%;
}

#desc {
    bottom: 0;
    padding: 20px 0;
}

.desc-day {
    background-color: #f9d71c;
}

.desc-night {
    background-color: skyblue;
}

.desc-windy {
    background-color: sandybrown;
}

.desc-day-cloudy {
    background-color: #3498db;
}

.desc-fair-warm {
    background-color: orange;
}

#desc span {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}

#desc span:last-child {
    border: none;
}

.weather-not-found {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*Weather Icons*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
