.card{
    background-color: #000;
    color: #303030;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 2px #aaa;
    font-weight: 400;
}

.weather-icon{
    font-size: 80px;
}

.weather-icon i{
    vertical-align: middle;
    color: #ffffff;
}

.temperature{
    font-size: 70px;
    font-weight: 600;
    vertical-align: middle;
}

img{
    width: 100%;
}

.desc{
    bottom: 0;
    background-color: orange;
    padding: 20px 0;
}

.desc span{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}

.desc span:last-child{
    border: none;
}

/*CHECK*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);