.location-outer {
    background-color: #ffffff;
    padding: .375rem 0;
    box-shadow: 0 0 2px #aaa;
}

.location-outer .location-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 230px;
    overflow:hidden; 
    overflow-y:scroll;
}

.location-outer .location-list li {
    margin: 10px 0;
    padding-left: .75rem;
    padding-right: .75rem;
    vertical-align: middle;
}

.location-outer .location-list li:nth-last-child(1) {
    border-bottom: none;
}

.location-outer .location-list li {
    color: #505050;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
}

.location-outer .location-list li:hover {
    color: #303030;
    font-weight: 400;
}

/* Scroll bar */
.location-outer .location-list::-webkit-scrollbar {
    width: 10px;
}

.location-outer .location-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.location-outer .location-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.location-outer .location-list::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}