::placeholder {
    color: #505050 !important;
    opacity: 0.8;
}

.form-control{
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 2px #aaa;
    border: none;
    line-height: 2.5;
    color: #303030;
    font-weight: 100;
}
.form-control:focus{
    background-color: #ffffff;
    box-shadow: 0 0 3px #ccc;
    color: #303030;
    border: none;

}